:root {
  --bg: #141414;
  --bg-grey: #1f1f1f;
  --bg-darker: #2b2b2b;
  --footer-text: #5f5f5f;
  --orange: #fe6a0f;
  --white-base: #ffffff;
  --hover-text: #999;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  font-family: 'Inter';
  background-color: var(--bg);
  color: var(--white-base);
}
.logo a {
  font-family: "Calistoga", serif;
  font-weight: bold;
  font-size: 36px;
  color: var(--white-base);
  text-decoration: none;
}
.logo span {
  color: var(--orange);
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}
/* Header */
.header .container {
  display: flex;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 45px;
  gap: 50px;
}
.header .menu {
  flex: 1;
  display: flex;
  align-items: center;
}
.header .header-button {
  border: 1px solid var(--white-base);
  display: block;
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
  color: var(--white-base);
}

.header-button:hover {
  color: var(--hover-text);
  border-color: var(--hover-text);
}
.header .menu .menu-itens {
  display: flex;
  flex: 1;
  list-style: none;
}
.menu-itens li {
  margin: 0 30px;
}
.menu-itens a {
  text-decoration: none;
  color: var(--white-base);
}
.menu-itens a:hover {
  color: var(--hover-text);
}
.menu-mobile {
  display: none;
  flex: 1;
  justify-content: flex-end;
}
.menu-icon {
  width: 32px;
  height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.menu-icon div {
  height: 6px;
  background-color: var(--white-base);
}
/* Header */

/* hero */
.hero .container {
  display: flex;
}
.hero .leftside,
.hero .rightside {
  flex: 1;
}
.hero .leftside {
  padding-bottom: 150px;
}
.hero .rightside {
  text-align: center;
}
.hero .rightside img {
  width: auto;
  height: 600px;
}
.hero h1 {
  font-family: 'Calistoga';
  font-size: 72px;
  line-height: 74px;
  margin-top: 50px;
}
.hero p {
  font-family: 'Inter';
  line-height: 26px;
  font-size: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.hero .button {
  display: inline-block;
  padding: 15px 80px;
  border-radius: 5px;
  background-color: var(--orange);
  font-family: 'Inter';
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: var(--white-base);
}
.hero .button:hover {
  opacity: 0.8;
}
/* hero */

 /* search */
.search {
  background-color: var(--bg-grey);
  padding-top: 80px;
  padding-bottom: 80px;
  margin-top: -100px;
}
.search .title {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 32px;
}
.search .sides {
  display: flex;
  margin-top: 30px;
  gap: 100px;
}
.search .leftside, 
.search .rightside {
  flex: 1;
}
.search input,
.search select {
  width: 100%;
  background-color: var(--bg-darker);
  color: var(--white-base);
  font-family: 'Inter';
  font-size: 24px;
  outline: none;
  padding: 20px;
  border: 0;
  border-radius: 5px;

}
.search input {
  background-image: url(./searchIcon.png);
  background-repeat: no-repeat;
  background-position: 20px center;
  padding-left: 60px;
}
.search select {
  border-right: 20px solid transparent;
}
 /* search */

/* Products */
.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.product-item {
  display: block;
  text-decoration: none;
  border-radius: 8px;
  overflow: hidden;
  position: relative;

}
.product-item:hover {
  opacity: 0.8;
}
.product-item .warning {
  position: absolute;
  top: 30px;
  left: 30px;
  background-color: var(--orange);
  color: var(--white-base);
  padding: 10px 15px;
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 500;
  border-radius: 4px;
}
.product-item .photo {
  text-align: center;
  background-color: var(--bg-darker);
  padding-top: 30px;
}
.product-item .photo img {
  max-width: 100%;
}
.product-item .info {
  background-color: var(--bg-grey);
  padding: 60px 30px 30px 30px;
  margin-top: -50px;
}
.product-item .product-category {
  color: var(--white-base);
  font-family: 'Inter';
  font-size: 18px;
  font-weight: 500;
}
.product-item .product-name {
  font-family: 'Calistoga';
  font-size: 32px;
  color: var(--white-base);
  margin: 10px 0;
}
.product-item .product-price {
  font-size: 32px;
  font-weight: bolder;
  color: var(--orange);
}
/* Products */

/* footer */
.footer {
  background-color: var(--bg-grey);
  color: var(--footer-text);
}
.footer .container {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between;
}
.footer .copyrights {
  font-size: 24px;
  font-family: 'Inter';
}
.footer .copyrights a {
  text-decoration: none;
  color: var(--footer-text);
}
.footer .copyrights a:hover {
  text-decoration: underline;
  color: var(--orange);
}
/* footer */

/* responsive */
@media (max-width: 820px) {
  .header .menu {
    display: none;
  }
  
  .menu-mobile {
    display: flex;
  }
  
  .hero .container {
    flex-direction: column
  }
  .hero  .leftside {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .hero .rightside {
    padding-bottom: 40px;
  }
  .hero .rightside img {
    height: 300px;
  }
  
  .hero  .leftside h1 {
    font-size: 44px;
    line-height: 50px;
  }
  .search {
    padding-bottom: 30px;
  }
  .search .title {
    text-align: center;
  }
  .search .sides {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .products-grid {
    grid-template-columns: 1fr;
  }
  .footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
/* responsive */


